.search-form-section {
  padding: 19px 30px 19px 19px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: "form switch-checkbox";
  gap: 19px;
  border-radius: 9px;
  background: #f9f9f9;
}

.search-form-section__form {
  grid-area: form;
}

.search-form-section__switch-checkbox {
  grid-area: switch-checkbox;
}

@media screen and (max-width: 786px) {
  .search-form-section {
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .search-form-section {
    padding: 0;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 45px;
    background: none;
    grid-template-areas:
      "form"
      "switch-checkbox";
  }
  .search-form {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .search-form-section {
    padding: 0;
  }
}
