.submit-button {
  padding: 13px 13px 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 396px;
  background-color: #2be080;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.9;
}

.submit-button:disabled {
  background-color: #f2f2f2;
  color: #000;
  cursor: not-allowed;
}

.submit-button__content {
  margin: 0;
  font: 500 14px / normal var(--fonts);
}
