.footer {
  padding-left: 70px;
  padding-right: 70px;
  width: auto;
  background: #fafafa;
}

.footer__mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.footer__infoContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "date info";
}

.footer__infoContainerYa {
  grid-area: info;
  display: flex;
  gap: 20px;
  justify-self: flex-end;
}

.footer__name {
  margin: 0;
  padding: 0;
  padding-top: 79px;
  color: #a0a0a0;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--fonts);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.footer__mainText {
  grid-area: date;
  margin: 0;
  padding: 0;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__mainDate {
  color: #000;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
    background: none;
  }
}

@media screen and (max-width: 576px) {
  .footer__name {
    color: #a0a0a0;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__infoContainer {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "info"
      "date";
  }
  .footer__mainText {
    justify-self: center;
  }
  .footer__infoContainerYa {
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  .footer__mainDate {
    padding-top: 30px;
    color: #a0a0a0;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 0 10px;
  }
}
