.promo {
  margin: 38px 40px 0 40px;
  padding: 0;
  background-color: #F5F5F5;
  border-radius: 10px;
  color: #000;
  font-family: var(--fonts);
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.promo__title {
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 151px;
  margin-top: 160px;
  padding: 0;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  font-style: normal;
  font-weight: 400;
}

.promo__menu {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  align-self: center;
}

.promo__menu-item {
  padding: 0;
  margin: 0;
  display: block;
  background-color: #E8E8E8;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px 5px;
  width: 86px;
  text-align: center;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {

  .promo {
    margin: 20px 20px 0 20px;
  }

  .promo__title {
    margin: 350px 24px 314px 24px;
    font-size: 40px;
    line-height: 52px;
  }

}

@media screen and (max-width: 460px) {

  .promo {
    margin: 14px 14px 0 14px;
  }

  .promo__title {
    margin: 350px 0 314px 0;
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1px;
  }

  .promo__menu {
    gap: 6px;
    margin-bottom: 17px;
  }

  .promo__menu-item {
    font-size: 10px;
    border-radius: 6px;
    width: 72px;
    padding: 5px;
  }

}