.about-me__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  letter-spacing: -1px;
  font-style: normal;
  font-weight: 400;
  margin: 170px 70px 70px 70px;
  border-bottom: 1px solid #000;
  padding: 0 0 23px 0;
  padding-top: 100px;
}

.about-me__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "about photo";
  margin-left: 70px;
  margin-right: 70px;
}

.about-me__photo {
  grid-area: photo;
  justify-self: flex-end;
}

.about-me__infoContainer {
  grid-area: about;
}

.about-me__infoContainerName {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.about-me__infoContainerPos {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.about-me__infoContainerAbout {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  max-width: 600px;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.about-me__infoLink {
  color: inherit;
  text-decoration: inherit;
}

.about-me__infoGit {
  margin: 0;
  padding: 0;
  margin-top: 99px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-me__photo {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 768px) {
  .about-me__infoContainerName {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .about-me__infoContainerPos {
    margin-top: 16px;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  .about-me__infoContainerAbout {
    margin-top: 20px;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__infoGit {
    margin-top: 70px;
  }
  .about-me__container {
    gap: 0 20px;
  }
}

@media screen and (max-width: 576px) {
  .about-me__photo {
    width: 292px;
    height: 352px;
  }
  .about-me__title {
    margin: 70px 18px 60px 18px;
  }
  .about-me__container {
    margin-left: 14px;
    margin-right: 14px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "photo"
      "about";
  }
  .about-me__photo {
    grid-area: photo;
    justify-self: center;
  }
  .about-me__infoContainerName {
    margin-top: 40px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  .about-me__infoContainerPos {
    margin-top: 20px;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .about-me__infoContainerAbout {
    margin-top: 20px;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .about-me__infoGit {
    margin-top: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
