.search-form {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.search-form__input {
  font: 400 18px/20px Inter;
  background: transparent;
  border: none;
}

.search-form__input:focus,
.search-form__input:active {
  outline: none;
}

.search-form__input::placeholder {
  color: #a0a0a0;
}

.search-form__submit-button {
  padding: 8px 10px;
  font: 500 11px/18px Inter;
  background: #2be080;
  color: #fff;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.search-form__submit-button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .search-form {
    width: 100%;
    padding: 19px;
    grid-template-columns: 1fr min-content;
    border-radius: 9px;
    background: #f9f9f9;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    font: 400 14px/20px Inter;
  }
}
